.card {
  width: 250px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(33, 33, 33);
  margin: 20px 1%;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1000;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: box-shadow 0.15s ease;
}

.card-text:hover {
  box-shadow: inset 0px 80px 63px -11px rgba(54, 54, 54, 0.9),
    inset 0px -80px 63px -11px rgba(54, 54, 54, 0.9);
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.card-title {
  text-align: right;
  font-size: 18px;
  color: white;
  font-weight: 700;
  padding: 10px 10px;
}

.card-description {
  color: white;
  text-align: right;
  padding: 0 10px;
}

.btn-card {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
}

.card-text:hover .btn-card {
  transform: translate(-50%, -200px);
  transition: transform 0.2s ease, background 0.3s ease;
}

.card-hide {
  transform: translateX(-30%);
  opacity: 0;
}
