@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Oswald:wght@200&display=swap');
@import 'normalize.scss';
@import '_header.scss';
@import '_mainScreen.scss';
@import '_flight.scss';
@import '_card.scss';
@import '_fullInfo.scss';
@import '_snake.scss';
@import '_filter.scss';
@import '_UIStyles.scss';

.container {
  max-width: 1600px;
  width: 100%;
  margin: 100px auto 0;
  padding: 0 5%;
}

body {
  position: relative;
  background-color: rgb(37, 37, 37);
  font-family: 'Jost', sans-serif;
}

.title {
  font-size: 26px;
  color: white;
  padding: 10px;
  z-index: 1000;
  letter-spacing: 2px;
  width: 100%;
  height: 40px;
}

.title::first-letter {
  color: rgb(82, 254, 197);
}

.btn {
  background-color: transparent;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border: 2px solid white;
  transition: background 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(82, 254, 197);
}
