.filter {
  display: flex;
  margin-top: 6px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.filter-input {
  border: 0;
  outline: 0;
  background-color: rgb(153, 153, 153);
  padding: 5px 10px;
  height: 30px;
  transition: background 0.3s ease;
  color: black;
  width: 80%;
  margin-top: 20px;
}

.filter-input:focus {
  background-color: silver;
}

.filter-input::placeholder {
  color: rgb(43, 43, 43);
}

// .hide {
//   transform: translateY(-40px);
//   opacity: 0;
//   z-index: -1;
// }
